.categories__content {
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  width: 600px;
  padding: 10px 0 0 0;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__link {
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  border: blueviolet 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blueviolet;
  font-size: 12px;
  list-style-type: none;
  text-decoration: none;
}

.difficulty {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.difficulty__content {
  width: 600px;
}

.difficulty__button {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: red;
  font-size: 14px;
  color: white;
  margin: 10px;
  cursor: pointer;
}
