.header__logo {
  height: 6rem;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
}

h1 {
  font-size: 1.8rem;
}
