.menu__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.menu {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: green;
  border-radius: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}
