.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 18px;
}
